@charset "UTF-8";
.m-protocol {
    width: 840px;
    margin: 0 auto;
    padding-bottom: 90px;
    & .list {
        padding-top: 51px;
        & li {
            float: left;
            font-size: 13px;
            color: #343434;
            margin-left: 19px;
            line-height: 30px;
            text-align: center;
            position: relative;
            & .line {
                display: none;
                position: absolute;
                width: 100%;
                height: 2px;
                background: #5F83F6;
                left: 0;
                bottom: 0;
            }
        }
        & .cur {
            color: #5F83F6;
            & a {
                color: #5F83F6;
            }
            & .line {
                display: block;
            }
        }
    }
    & .title {
        font-size: 35px;
        color: #4A4A4A;
        padding: 50px 0 41px;
    }
    & .date {
        padding-top: 10px;
        font-size: 14px;
        color: #656565;
    }
    & .h2 {
        font-size: 16px;
        color: #000000;
        line-height: 25px;
        padding-top: 30px;
        font-weight: bold;
    }
    & .text {
        font-size: 14px;
        color: #656565;
        padding-top: 30px;
        line-height: 25px;
    }
}

.yh-text {
    font-size: 22pt;
    font-weight: bold
}

.yh-text1 {
    font-size: 12pt;
    font-weight: bold
}

.yh-text2 {
    margin: 10.6pt 0pt 10.6pt 24.1pt;
    orphans: 0;
    text-align: justify;
    text-indent: -24.1pt;
    widows: 0
}

.yh-text3 {
    margin: 0pt;
    orphans: 0;
    text-align: justify;
    widows: 0
}

.yh-text4 {
    font-size: 12pt
}

.yh-text5 {
    font: 7.0pt 'Times New Roman'
}

.yh-text6 {
    font-size: 12pt
}

.yh-text7 {
    -family: Cambria;
    font-size: 12pt;
    margin: 0pt 0pt 0pt 14.11pt;
    orphans: 0;
    padding-left: 9.89pt;
    text-align: justify;
    text-indent: 0pt;
    widows: 0
}

.yh-text8 {
    margin: 0pt 0pt 0pt 45pt;
    orphans: 0;
    text-align: justify;
    text-indent: -24pt;
    widows: 0
}

.yh-text9 {
    margin: 0pt 0pt 0pt 45pt;
    orphans: 0;
    text-align: justify;
    text-indent: -16.65pt;
    widows: 0
}

.yh-text10 {
    font-size: 12pt;
    font-weight: bold;
    margin: 0pt 0pt 0pt 14.89pt;
    orphans: 0;
    padding-left: 9.11pt;
    text-align: justify;
    text-indent: 0pt;
    widows: 0
}

.yh-text11 {
    font-size: 12pt;
    font-weight: bold
}

.yh-text12 {
    font-size: 12pt;
    font-weight: normal
}

.yh-text13 {
    margin: 0pt;
    padding-left: 0pt
}

.yh-text14 {
    margin: 0pt;
    padding-left: 0pt
}

.yh-text15 {
    margin: 0pt;
    padding-left: 0pt
}

.doc-text {
    font-family: PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    font-weight: 200;
    color: #666666;
}

.page {
    margin: 0px auto 80px auto;
}

.page_yszc {
    margin-top: 30px;
}

.sp_underline {
    font-weight: 400;
}

.page_yszc p {
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", "宋体", "Arial";
}

.page_yszc p,
.page_yszc h2 {
    margin: 15px 0px;
    line-height: 22px;
    color: #666666
}

.main_link {
    color: #5F83F6;
}

.page_yszc h2 {
    font-size: 14px;
}

.page_yszc .zm-text {
    font-family: '宋体';
}

.page_yszc .h2-text1 {
    margin-top: 30px;
}

.page_yszc .ysmlyi {
    margin-top: 55px;
}