@charset "UTF-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0 none;
    font-family: PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    font-weight: 200;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
    font-weight: normal;
}

i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}

[hidefocus],
summary {
    outline: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
    font-size: 100%;
}

sup,
sub {
    font-size: 83%;
}

pre,
code,
kbd,
samp {
    font-family: inherit;
}

q:before,
q:after {
    content: none;
}

textarea {
    overflow: auto;
    resize: none;
}

label,
summary {
    cursor: default;
}

a,
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
    font-weight: normal;
}

del,
ins,
u,
s,
a,
a:hover {
    text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
    outline: 0;
}

body {
    background: #fff;
}

a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
a:hover {
    color: #333;
}

input {
    -webkit-appearance: none;
}

html,
body {
    height: 100%;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}
@charset "UTF-8";
.m-head {
    width: 100%;
    height: 1.33333rem;
    background: #FFFFFF;
    -webkit-box-shadow: 0 0.05333rem 0.10667rem 0 rgba(235, 235, 235, .50);
            box-shadow: 0 0.05333rem 0.10667rem 0 rgba(235, 235, 235, .50);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}
.m-head .logo {
    width: 2.26667rem;
    height: 0.53333rem;
    background: url(../images/logo@2x.f8969f45bdd94ee853535e23942cf747.png) no-repeat;
    background-size: contain;
    margin: 0.4rem 0 0 0.58667rem;
}
.m-head .list {
    padding-right: 0.32rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around
}
.m-head .list li {
    font-size: 0.42667rem;
    color: #343434;
    margin-right: 0.58667rem;
    line-height: 1.33333rem;
    text-align: center;
    position: relative
}
.m-head .list li a {
    color: #343434;
}
.m-head .list li .line {
    display: none;
    position: absolute;
    width: 100%;
    height: 0.05333rem;
    background: #5F83F6;
    left: 0;
    bottom: 0.32rem;
}
.m-head .list .cur {
    color: #5F83F6
}
.m-head .list .cur a {
    color: #5F83F6;
}
.m-head .list .cur .line {
    display: block;
}

.m-foot {
    background: #F8F8F8;
    padding: 0.82667rem 1.01333rem 0.66667rem;
    text-align: center
}

.m-foot .link-box {
    display: inline-block
}

.m-foot .link-box .link {
    display: inline-block;
    font-size: 0.37333rem;
    color: #949494;
    text-align: center;
    text-decoration: underline;
}

.m-foot .mlf35 {
    margin-left: 0.93333rem;
}

.m-foot .mtop35 {
    margin-top: 0.93333rem;
}

.m-foot .mtop23 {
    margin-top: 0.61333rem;
}

.m-foot .text {
    font-size: 0.37333rem;
    color: #949494;
    text-align: left;
}

.protocol-title {
    font-size: 0.53333rem;
    color: #4A4A4A;
    text-align: center;
    padding-top: 0.96rem;
}

.protocol-text {
    font-size: 0.37333rem;
    color: #656565;
    line-height: 0.66667rem;
    padding-top: 0.8rem;
}

.protocol-text2 {
    font-size: 0.37333rem;
    color: #656565;
    line-height: 0.66667rem;
    padding-top: 0.10667rem;
}

.protocol-h3 {
    font-size: 0.42667rem;
    color: #000000;
    line-height: 0.66667rem;
    padding-top: 0.8rem;
}

.opacity0 {
    opacity: 0;
}
@charset "UTF-8";
.m-detailstar {
    padding: 0 0.26667rem 2.4rem
}
.m-detailstar .list {
    padding-top: 0.26667rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start
}
.m-detailstar .list li {
    font-size: 0.34667rem;
    color: #343434;
    margin-left: 0.50667rem;
    line-height: 0.8rem;
    text-align: center;
    position: relative
}
.m-detailstar .list li .line {
    display: none;
    position: absolute;
    width: 100%;
    height: 0.05333rem;
    background: #5F83F6;
    left: 0;
    bottom: 0;
}
.m-detailstar .list .cur {
    color: #5F83F6
}
.m-detailstar .list .cur a {
    color: #5F83F6;
}
.m-detailstar .list .cur .line {
    display: block;
}
.m-detailstar .title {
    font-size: 0.53333rem;
    color: #4A4A4A;
    padding-top: 0.26667rem;
}
.m-detailstar .text {
    font-size: 0.37333rem;
    color: #656565;
    padding-top: 0.8rem;
    line-height: 0.66667rem;
}
.m-detailstar .h3 {
    font-size: 0.37333rem;
    color: #4A4A4A;
    font-weight: bold;
}
.m-detailstar .text {
    font-size: 0.37333rem;
    color: #292929;
    line-height: 0.66667rem;
}
.m-detailstar .data-list {
    margin-top: 0.58667rem;
    border-top: 0.02667rem solid #DADADA;
    border-left: 0.02667rem solid #DADADA
}
.m-detailstar .data-list li {
    width: 4.69333rem;
    height: 1.01333rem;
    line-height: 1.01333rem;
    text-align: center;
    border-bottom: 0.02667rem solid #DADADA;
    border-right: 0.02667rem solid #DADADA;
    float: left;
}
.m-detailstar .pdt15 {
    padding-top: 0.4rem;
}
.m-detailstar .pdt25 {
    padding-top: 0.66667rem;
}
.m-detailstar .pdt41 {
    padding-top: 1.09333rem;
}
.m-detailstar .pdt54 {
    padding-top: 1.44rem;
}
